

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
}

.text {
  width: 100%;
  padding: 0.6rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.inTotal {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000;
}