

.container {  
  position: relative;
  height: 61px;
}

.wrapper {
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0.6rem;
  color: var(--pink-color);
  background-color: var(--white-color);
  box-shadow: 0 0.1rem 10px var(--gray-transparent-color);

}
.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo > img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}
/* bars */
/* bars btn */
.barsBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.7rem;
  cursor: pointer;
}
.barsBtn:hover {
  color: var(--dark-pink-color);
}
/* ============== */
/* bars menu*/
.barsMenu {
  display: none;
}
.barsMenu.active {
  position: absolute;
  top: 61px;
  left: 0;
  z-index: 10;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;

  padding: 1rem 0.6rem 1.6rem;
  
  color: var(--white-color);
  border-radius: 0 0 0.8rem 0.8rem;
  

  background-color: var(--black-transparent-color);
}
.barsMenu > a {
  text-decoration: none;
}
.barsMenu > a:hover {
  color: var(--pink-color);

}
/* ============== */
/*============================*/

/* basket */
/* basket btn */
.basketBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.7rem;
  cursor: pointer;
  color: var(--light-gray-color);
}
.basketBtn:hover {
  color: var(--dark-pink-color);
}
.basketBtn.active {
  color: var(--pink-color);
}
/*basket menu*/
.basketMenu {
  display: none;
}
.basketMenu.active {
  position: absolute;
  top: 61px;
  right: 0;
  z-index: 10;

  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  
  gap: 1.5rem;

  
  color: var(--black-color);
  

  background-color: var(--gray-transparent-color);
}

/*============================*/
