

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0 1.8rem;
  background-color: var(--light-gray-color);
}

.shome {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  font-size: 2.5rem;
  color: var(--white-color);
}
.shome > a:hover {
  color: var(--pink-color);
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 1.8rem 0 1.8rem;
  }

  .shome {
    font-size: 4rem;
  }
}
